body {
    color:navy;
    font-family:Arial
}
h3 {
    color:maroon
}
a {
    color:blue
}
a:hover {
    background-color:yellow
}
button {
    border-radius: 15px;
    background-color:yellow;
    color:red;
    font-size:large;
    vertical-align:top
}
b {
    color:green;
}